extends layout

block content
  w3.container
    dl
        dt 
          b Código
        dd=nivel3.codigo
        dt 
          b TituloPai
        dd=nivel3.tituloPai
        dt
          b pt
        dd=nivel3.pt
         dt
          b procTipo
        dd=nivel3.procTipo
         dt
          b titulo
        dd=nivel3.titulo
         dt
          b pai
        dd=nivel3.pai
         dt
          b codigoPai
        dd=nivel3.codigoPai
         dt
          b procTrans
        dd=nivel3.procTrans
         dt
          b status
        dd=nivel3.status
        dt
          b desc
        dd=nivel3.desc
        hr
        br
    a(href="http://localhost:3000/") Sair